/* ------------------------------------------ */
/* HEADER */
/* ------------------------------------------ */
.main-header {
  background-image: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url(../img/foodbackground.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: $white;
  height: 100vh;
  position: relative;
}

.header-text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: $row-width;

  @include respond-to(medium) {
    padding: 0 2%;
    width: 100%;
  };
  
  @include respond-to(x-small) {
    padding: 0 4%;
  }

  p {
    font-size: 2.8rem;
    margin: .5em 0;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
    @include respond-to(small) {
      font-size: 2.4rem;
    };

    @include respond-to(x-small) {
      font-size: 1.8rem;
    }
  }

  span {
    display: block;
  }
}


.header-nav {
  @extend .clearfix;
  
  font-size: .9rem;
  padding-top: 1rem;


  img {
    display: block;
    float: left;
    height: 100px;

    @include respond-to(small) {
      display: block;
      float: none;
      margin: 0 auto;
    }
  }
}

.hd-list {
  float: right;
  list-style: none;
  padding-top: 37px;
  font-size: 0;

  @include respond-to(small) {
    float: none;
    padding-top: 1rem;
    text-align: center;
  };

  @include respond-to(x-small) {
    display: none;
  };

  li {
    font-size: 1rem;
    display: inline-block;
    text-transform: uppercase;
    a {
      transition: .3s all;
      padding: 8px 0;
      border-bottom: 2px solid transparent;
      &:hover {
        border-bottom-color: $color--primary;
      }
    }
    + li {
      margin-left: rem(40px);
    }
  }
}
