/* ------------------------------------------ */
/* Modules */
/* ------------------------------------------ */

.d-xs-none {
  display: none;
}

@media screen and (min-width: 48em) {
  .d-sm-none {
    display: none;
  }
  .d-sm-unset {
    display: unset;
  }
  .d-sm-block {
    display: block;
  }
}
@media screen and (min-width: 64em) {
  .d-md-none {
    display: none;
  }
  .d-md-unset {
    display: unset;
  }
  .d-md-block {
    display: block;
  }
}
@media screen and (min-width: 75em) {
  .d-xl-none {
    display: none;
  }
  .d-xl-unset {
    display: unset;
  }
  .d-xl-block {
    display: block;
  }
}

.bg-gray {
  background-color: #f5f5f5;
}


.wrapper {
  overflow: hidden;
}

// overwriting
.section {
  padding: 70px 0;

  @include respond-to(small) {
    padding: 50px 0;
  }

  @include respond-to(x-small) {
    padding: 35px 0;
  };

  @include respond-to(xx-small) {
    padding: 35px 0;
  };
}

.row {
  @include respond-to(medium) {
    padding: 0 2%;
  }

  @include respond-to(x-small) {
    padding: 0 4%;
  }
}

.box {
  padding: 1%;
}

.col {
  @include respond-to(x-small) {
    width: 100%;
    margin: 0 0 .5rem 0;
  };
}

.my-row {
  max-width: 1200px;
  margin-left: auto !important;
  margin-right: auto !important;
}

.slick-list {
  .col-sm-4 {
    flex-basis: initial;
    max-width: auto;
  }
}

.main-header {

  &-wrapper {
    // background-image:
    //   linear-gradient(rgba(0, 0, 0, .85), rgba(0, 0, 0, .85)),
    //   url(../img/ceiling_001.jpg);
    // background-image: linear-gradient(
    //                                     149deg,
    //                                    #181e2c 0% , 
    //                                    #181e2c 40% , 
    //                                    #1abc9c 40% , 
    //                                    #1abc9c 50% , 
    //                                    #181e2c 50% );
    background-image: url(../img/header-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    clip-path: polygon(0 0, 100% 0, 100% 94%, 0 100%);
  }

  // min-height: 115vh;
  // min-height: 400px;
  padding-bottom: 150px;


  nav {
    margin-bottom: rem(70px);
    display: flex;
    padding: 2px;
    // height: rem(40px);
    align-items: center;
    justify-content: space-between;

    @include respond-to(xx-small) {
      padding: .1rem;
    };

    ul {
      margin: 0;
      padding: 0 .4rem;
      list-style: none;
      display: flex;

      @include respond-to(x-small) {
        display: none;
      }

    }
    li {
      padding: 0 .5em;
      font-size: 1rem;
      font-weight: 400;

      @include respond-to(small) {
        padding: 0 .2em;
        font-size: rem(16px);
      }
    }
  }

  .logo-wraper {
    display: flex;
    align-items: center;
    .citation {
        @include respond-to(xx-small) {
          display: none;
        };
      color: #000;
      font-style: 18px;
      padding-left: 1em;
    }
  }

  .logo {
    display: flex;
    flex-direction: column;

    font-size: rem(38px);
    font-weight: 900;
    font-style: italic;
    color: $color--primary;

    .w2 {
      margin-left: em(30px, 38px);
      position: relative;
      top: em(-8px, 38px);
    }
  }

  .contacts {
    a {
      color: #000;
    }
    // padding: 1em;
    display: flex;
    flex-direction: column;
  }
}

.promo-block {

  img {
    max-width: none;
    width: 100%;
    position: absolute;
    height: 100%;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    border: 15px solid rgba(0, 0, 0, .3);
  }

  &--item {
    height: 400px;
    position: relative;
    max-width: 900px;

    p {
      position: absolute;
      font-weight: 400;
      top: 50%;
      font-size: 32px;
      text-align: center;
      width: 100%;
      transform: translateY(-50%);
      z-index: 100;

      span {
        display: inline-block;
        padding: .4em;
        color: white;
        background:  rgba(0, 0, 0, .6);
      }
    }

    &-inner {
      // h
    }
  }

  max-width: 100% !important;
  margin: 0 auto !important;
  
  @include respond-to(xx-small) {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 !important;
  }

  .slick-next {
    right: 20px;
  }

  .slick-prev {
    left: 20px;
    z-index: 1000;
  }

  > div {
    text-align: center;
  }

  .slick-slide img {
    margin-left: auto;
    margin-right: auto;
    // max-width: auto;
    // padding: 16px;
  }
}



// @media only screen and (min-width: 48em) {
//   .main-navigation {
//     display: block;
//   }
// }


.first-slide {
  color: white;
  width: 70%;
  margin: 0 auto;
  padding-bottom: 50px;

  // @include resond-to('x-small') {
  // }
  @include respond-to(x-small) {
    width: 90%;
  } ;


  .text-box {
    text-align: center;
    font-size: 38px;
    font-weight: 100;
    margin-bottom: 30px;

    p {
      @include respond-to(x-small) {
        text-align: left;
        padding-right: 0 !important;
        padding-left: 0 !important;
      };
      @include respond-to(xx-small) {
        font-size: 32px;
      };
    }

    .w1 {
      padding-right: 6em;
    }

    .w2 {
    }

    .w3 {
      padding-left: 7em;
    }
  }
}

.section {
  // padding-top: 60px;
  &-title {
    font-weight: 700;
    font-size: rem(25px);
    text-transform: capitalize;
    margin-bottom: 2.5rem;
    text-align: center;
  }
}

.about-us-wrapper {
  margin-top: -100px;
  padding-top: 100px;
  padding-bottom: 100px;
  color: white;

  @include respond-to(x-small) {
    padding: 0.5em;
    padding-top: 100px;
  };

  background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(../img/about-us-bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.about-us {
  .text-box {
    h3 {
      font-size: rem(20px);
      border-bottom: 4px solid #afafaf;
      font-weight: 500;
    }

    p {
      font-size: rem(20px);
      // width: 70%;
      margin: 0 auto 45px;
    }

    tr > td:first-of-type {
      width: 25%;
      vertical-align: top;
      font-weight: 700;
    }

    td {
      padding: .5em;
    }
  }
  .why-us {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.why-choose-us {
  // text-align: center;
  img {
    max-width: 125px;
    display: block;
    margin: 0 auto 20px;
  }

  &--feature {
    margin-bottom: 30px;
  }

  .my-row {
    padding: 60px 0;
  }

  .title {
    font-weight: 700;
    padding-bottom: .4em;
  }

  .text {
    font-size: .9em;
  }

  p {
    text-align: center;
  }
}

.how-we-work-wrapper {
  // background-color: #ddd;
}

.how-we-work {
  overflow: hidden;
  position: relative;

  // clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);

  // &:before {
  //   content: '';
  //   display: block;
  //   position: absolute;
  //   width: 120%;
  //   left: -10%;
  //   height: 70px;
  //   transform: rotate(3deg);
  //   background: red;
  //   top: -35px;
  // }
}

.our-works {
  background-color: #181E2C;
  // @include respond-to(x-small) {
  //   clip-path: polygon(0 0, 100% 8%, 100% 92%, 0 100%);
  // }
  clip-path: polygon(0 0, 100% 8%, 100% 92%, 0 100%);
  padding-left: 2rem;
  padding-right: 2rem;

  color: white;
  h2 {
    color: white;
  }
}

.partners {
  margin-top: -50px;
  // margin-bottom: -50px;
  padding-top: 70px;
  background-color: #181e2c;
  padding-left: 2rem;
  padding-right: 2rem;
  color: white;
}

.partners-list {
  list-style: none;
  margin: 0 auto !important;
  padding: 0;

  &--item {
    
  }
}

.feature--wrapper {
  min-width: 200px;
  margin: 0 auto;
}

.features {
  flex-wrap: wrap;

  &--item {
    padding: 1em;
    width: 100%;


    p {
      @include respond-to(x-small) {
        text-align: center;
      }
    }

    h3 {
      text-align: center;
    }

    .icon {
      text-align: center;
      color: rgb(26, 188, 156);
    }
  }

  &.section {
    padding: 0;
  }
}

/*********  OUR WORK SECTION *******/

 .our-works-gallery {
  ul {
    margin: 0 auto;
    padding: 0;
    list-style: none;
  }

  li {
    padding-bottom: 1em;
  }

  img {
    display: block;
    width: 100%;
  }
}

.left-application {
  padding: 20px 0;
  text-align: center;
  a {
    display: inline-block;
    background-color: $color--primary;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    padding: .7em 1em ;
    border-radius: 5px;
    border: none;
    outline: none;
  }
}

.left-application-form {
  margin: 0 auto;
  max-width: 400px;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  position: relative;

  input,
  textarea {
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
    padding: .3em;
  }
  .close-modal {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 10px;
  }
}

.calc-form {
  padding: 16px;
  background: rgba(0, 0, 0, .5);
  border: 1px solid #eee;
  border-radius: 5px;
  min-width: 700px;
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;

  .form-control {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    label {
      padding-bottom: .4em;
      .promo {
        color: red;
      }
    }

    input[type="text"] {
      background: transparent;
    }

    select[name="material"] {
      min-width: 350px;
      color: white;
      background: transparent;

      option {
        color: black;
        // background: transparent;
      }
    }

    @include respond-to(x-small) {
      flex-direction: column;
    }

    &:not(:last-of-type) {
      padding-bottom: 10px;
    }

    &:nth-last-of-type(2) {
      padding-bottom: 7px;
    }

    &:last-of-type {
      border-top: 1px solid #eee;
      padding-top: 7px;
    }
  }

  .more-info {
    padding-top: 30px;
    table {
      width: 100%;
      padding: 2px;

      border-collapse: collapse;

      tr {
        border-bottom: 1px solid #eee;
        padding-bottom: 2px;
      }

      td {
        padding-top: .4em;
        padding-bottom: .4em;
      }
    }
  }

  label {
    display: inline-block;
  }

  input {
    display: inline-block;
  }

  @include respond-to(x-small) {
    width: 100%;
  };
}

.calculator {
  background-image: 
            linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)),
            url(../img/clipso-bg.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  background-color: rgba(0, 0, 0, .1);
  clip-path: polygon(0 0, 100% 0, 100% 95%, 50% 100%, 0 95%);

  input {
    outline: none;
  }

  input[type="text"] {
    border: 0px solid transparent;
    border-bottom: 1px solid #777;
    // padding: .5em;
  }

  .sum {
    border-bottom: 1px solid #777;
        display: inline-block;
        text-align: right;
        min-width: 60px;
  }
}

.clipso-system {
  // background-image: 
  //           linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)),
  //           url(../img/clipso-bg.jpg);
  // background-position: center center;
  // background-size: cover;
  // background-attachment: fixed;
  // color: white;
  // background-color: rgba(0, 0, 0, .1);
}

.reviews {

  .section-title {
    &.arow {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #181E2C;
      height: 100px;
      clip-path: polygon(0 0, 50% 25%, 100% 0, 100% 75%, 50% 100%, 0 75%);
      color: white;

      span {
        padding-top: .8em;  
      }
    }
  }

  .reviews-block {
    padding-top: 40px;
  }

  .review-item {

    box-shadow: 0 0 4px rgba(0, 0, 0, .3);
    background-color: #eee;
    padding: 16px;
    border-radius: 5px;
    border: 1px solid #999;
    margin-bottom: 16px;
    img {
      display: block;
      margin: 0 auto;
      border-radius: 50%;
      margin-bottom: 1.5rem;
      width: 128px;
      height: 128px;
    }
    .text {
      margin-bottom: 10px;
      font-style: italic;
    }
    .name {
      text-align: right;
      font-weight: 500;
    }
  }
}

.write-review {
  padding-top: 50px;

  input,
  textarea {
  }

  &__form {
    width: 400px;
    margin: 0 auto;

    > form > div:not(:last-of-type) {
      padding-bottom: 1em;
    }

    textarea {
      resize: none;
      height: 3em;
    }

    input,
    textarea {
      display: inline-block;
      width: 100%;
      font-weight: 300;
      outline: none;
      padding: .5em;
    }

    button {
      display: inline-block;
      width: 100%;
      background-color: $color--primary;
      margin-top: 20px;
      padding: .8em .8em;
      cursor: pointer;
      color: white;
      border: none;
      border-radius: 4px;
    }
  }
}

.arrow-divider {
  background-color: #181E2C;
  height: 100px;
  clip-path: polygon(0 0, 50% 25%, 100% 0, 100% 75%, 50% 100%, 0 75%);
}

.main-footer {
  // background-color: #fff;
  background-color: #181E2C;
  color: white;


  .my-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;

  }


  .map {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }

  @include respond-to(xx-small) {
    flex-direction: column;

  }

  .map {
    @include respond-to(xx-small) {
      order: 1;
    }
  }

  .by {
    a {
      text-decoration: underline;
    }

    @include respond-to(xx-small) {
      order: 2;
      padding-bottom: 0;
    }
  }

  .contacts {
    // padding: 1em;
    display: flex;
    flex-direction: column;

    @include respond-to(xx-small) {
      align-items: center;
    }
  }

  > div {
    @include respond-to(xx-small) {
      padding-bottom: 10px;
    }
  }
}

.certificates-list-wrapper {
  img {
    display: block;
    max-width: 215px;
    margin: 0 auto;
  }
  >div {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    &:not(:last-of-type) {
      padding-bottom: 1.5rem;
    }
  }
}

// @-webkit-keyframes pulse {
//   0% {
//     -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
//   }
//   70% {
//       -webkit-box-shadow: 0 0 0 15px rgba(204,169,44, 0);
//   }
//   100% {
//       -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
//   }
// }
@keyframes pulse {
  0% {
    // -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    box-shadow: 0 0 0 0 rgba(65,208,38, 0.4);
  }
  70% {
      // -moz-box-shadow: 0 0 0 15px rgba(204,169,44, 0);
      // box-shadow: 0 0 0 15px rgba(204,169,44, 0);
      box-shadow: 0 0 0 15px  rgba(65,208,38, 0);
  }
  100% {
      // -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      // box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(65,208,38, 0);
  }
}

.phone-us-button {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 25px;

  .open-feedback-form {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(65,208,38);
    outline: none;
    color: white;
    text-align: center;
    font-size: 40px;
    line-height: 80px;
    animation: pulse 2s infinite;
  }
}
