<header class="main-header">

  <nav class="header-nav">

    <div class="row group">

      <a href="/">
        <img src="img/logo-white.png" alt="omnifood logo">
      </a>
      <ul class="hd-list">
        <li><a href="#">Food delivery</a></li>
        <li><a href="#">How it works</a></li>
        <li><a href="#">Our cities</a></li>
        <li><a href="#">Sign up</a></li>
      </ul>

    </div>

  </nav>
  
  <div class="header-text-box">
    <p>
      <span>Goodbye junk food.</span>
      <span>Hello super healthy meals.</span>
    </p>
    <a href="#" class="btn btn--default">I’m hungry</a>
    <a href="#" class="btn btn--default">Show me more</a>
  </div>

</header>
