$red: #f26c4e;
$pink: #cf6baa;
$purple: #8e44ad;
$yellow: #f2c24d;
$green: #a3d178;
$blue: #78ccd0;
$turquoise: #1abc9c;

$black: #0b0b0b;
$medium-black: #333333;
$grey: #868686;
$medium-grey: #cdcdcd;
$light-grey: #f4f4f4;
$slightly-grey: #fcfcfc;
$white: #fff;

$facebook-color: #3b5998;
$twiter-color: #55acee;
$googleplus-color: #dd4b39;
$instagram-color: #125688;

$breakpoints: (
  'xx-small'   : ( max-width:  480px ),
  'x-small'  : ( max-width:  767px ),
  'small'   : ( max-width: 1023px ),
  'medium' : ( max-width: 1200px )
);

$font-family--primary: Roboto, Helvetica, sans-serif;
$font-family--secondary: Roboto, serif;


$base__line: 1.345;
$base__font-size: 18px;


$form-element-color--default: #ccc;


$color--primary: $turquoise;


$row-width: 1200px;





