@function rem($size) {
  $remSize: $size / $base__font-size;
  @return $remSize * 1rem;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// .wrap {
//   ...
//   @extend .clearfix;
// }

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// .wrap {
//   ...
//   @extend %clearfix;
// }